body {
    padding-bottom: 40px;
}

.footer {
    border-top: 3px solid #ddd;
    margin-top: 20px;
}

/* Main menu */

.logo {
    float: left;
    width: 105px;
    height: 102px;
    background-image: url(/img/logo.png);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.95);
    margin-right: 20px;
}

.master {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-color: purple;
    color: white;
}

.master h1 {
    text-transform: uppercase;
    float: left;
}

.master ul {
    float: left;
    font-size: 150%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.master ul li {
    float: left;
    text-transform: uppercase;
    margin-right: 20px;
}

.master a {
    color: silver;
}

.master a:hover, .master a.active {
    text-decoration: none;
    color: white;
}

/* Sidebar */

.sidebar {
    margin-top: 19px;
}

.twitter-timeline {
    width: 100% !important;
}

/* Kalendář událostí */

.event {
    padding-left: 2px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.event:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.event-date {
    float: left;
    font-size: 32px;
    font-weight: 500;
    line-height: 35px;
    white-space: nowrap;
    text-align: right;
    width: 92px;
    margin-left: -20px;
    padding-top: 0;
    margin-top: 0;
    padding-right: 15px;
}

.event-header {
    float: left;
    padding-left: 15px;
    margin-bottom: 10px;
    border-left: 6px solid;
}

.event-art     .event-header { border-color: purple; }
.event-music   .event-header { border-color: green;  }
.event-theatre .event-header { border-color: orange; }

.event-header p.cyklus:before {
    content: "\f073 ";
    font-family: FontAwesome;
}

.event h2 {
    margin-top: 0;
}

.event h3 {
    color: #aaa;
    font-size: 120%;
    margin-top: -2px;
    text-transform: uppercase;
}

.event-body {
    margin-left: 93px;
    clear: both;
}

.event-banner {
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

/* Programové cykly */

.cyklus span.datum {
    float: left;
    width: 70px;
    text-align: right;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 3px solid silver;
}

.cyklus-vystava span.datum { border-color: purple; }
.cyklus-koncert span.datum { border-color: green;  }
.cyklus-divadlo span.datum { border-color: orange; }

span.datum-vystava { border-color: purple !important; }
span.datum-koncert { border-color: green !important;  }
span.datum-divadlo { border-color: orange !important; }

.cyklus .popis {
    margin-left: 82px;
}

.cyklus .panel-footer {
    margin-top: 20px;
    padding-top: 20px;
}

/* Content */

.nav-tabs {
    margin-top: 20px;
    margin-bottom: 20px !important;
}

img.bordered {
    border: 1px solid #ddd;
}

.indented {
    margin-top: 20px;
    margin-bottom: 20px;
}

.zoomable {
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.room-showcase .thumbnail {
    height: 360px;
    border: 1px solid #ddd;
    background: rgb(249, 249, 249);
}

span.price {
    width: 6em;
    float: left;
    text-align: right;
    margin-right: 1ex;
}
