<div class="container footer">
    <hr>
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <h2><small>Kontakt</small></h2>
            <ul class="list-unstyled">
                <li>Kulturní středisko Boskovice</li>
                <li><a href="http://mapy.cz/s/8exA">Kpt. Jaroše 15</a></li>
                <li>68001 Boskovice</li>
                <li><span class="zoomable">516 45 35 44</span></li>
            </ul>
            <p>
                <a href="mailto:kultura@boskovice.cz">kultura@boskovice.cz</a><br>
                <a href="https://twitter.com/kulturab">Twitter</a> &middot;
                <a href="https://www.facebook.com/kulturaboskovice">Facebook</a>
            </p>
        </div>
        <div class="col-md-3 col-xs-6">
            <h2><small>Lidé</small></h2>
            <p>
                <span class="text-muted">ředitel KZMB</span><br>
                PaedDr. Oldřich Kovář<br>
                <a href="mailto:o.kovar.knihovna@boskovice.cz">o.kovar.knihovna@boskovice.cz</a>
            </p>
            <p>
                <span class="text-muted">zástupce ředitele, dramaturg</span><br>
                Ivo Legner<br>
                <a href="mailto:legner@boskovice.cz">legner@boskovice.cz</a><br>
                <span class="zoomable">739 515 210</span>
            </p>
        </div>
        <div class="col-md-3 col-xs-6">
            <h2><small>Předprodej</small></h2>
            <p>
                Městské informační středisko<br>
                <a href="http://mapy.cz/s/8A2b">Masarykovo nám. 1</a><br>
                Boskovice<br>
                <span class="zoomable">516 48 86 77</span>
            </p>
        </div>
        <div class="col-md-3 col-xs-6">
            <h2><small>Tiráž</small></h2>
            <p>Naposledy aktualizováno 14. dubna.</p>
        </div>
    </div>
</div>
