<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Kulturní středisko Boskovice</title>
    <link href="/style/main.css" rel="stylesheet">
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="/lib/zoomable-type/zt.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/zoomable-type/zt.js"></script>
    <script src="/lib/holder.js"></script>
</head>
<body>
    <script>
        $(document).ready(function() {
            $('.zoomable').zoomabletype();
        });
    </script>
    <div class="master">
        <div class="container">
            <div class="logo"></div>
            <h1>Kulturní středisko Boskovice</h1>
            <ul>
                {% for node in site.pages %}
                {% if node.is_root %}
                    {% if page.url == node.url or page.category == node.category %}
                        <li class="active"><a href="{{node.url | replace: 'index.html', ''}}" class="active">{{node.title}}</a></li>
                    {% else %}
                        <li><a href="{{node.url | replace: 'index.html', ''}}">{{node.title}}</a></li>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                {{ content }}
            </div>
            <div class="col-md-4 col-sm-12 hidden-sm">
                <div class="sidebar">
                    <a class="twitter-timeline" data-dnt="true" data-tweet-limit="5" href="https://twitter.com/KulturaB" data-chrome="nofooter transparent" data-widget-id="365743844979011584">Tweets by @KulturaB</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="col-md-3 col-xs-6">
                <h2><small>Kontakt</small></h2>
                <ul class="list-unstyled">
                    <li>Kulturní středisko Boskovice</li>
                    <li><a href="http://mapy.cz/s/8exA">Kapitána Jaroše 15</a></li>
                    <li>68001 Boskovice</li>
                    <li><span class="zoomable">516 45 35 44</span></li>
                </ul>
                <p>
                    <a href="mailto:kultura@boskovice.cz">kultura@boskovice.cz</a><br>
                    <a href="https://twitter.com/kulturab">Twitter</a> &middot;
                    <a href="https://www.facebook.com/kulturaboskovice">Facebook</a>
                </p>
            </div>
            <div class="col-md-3 col-xs-6">
                <h2><small>Lidé</small></h2>
                <p>
                    <span class="text-muted">ředitel KZMB</span><br>
                    PaedDr. Oldřich Kovář<br>
                    <a href="mailto:o.kovar.knihovna@boskovice.cz">o.kovar.knihovna@boskovice.cz</a>
                </p>
                <p>
                    <span class="text-muted">zástupce ředitele, dramaturg</span><br>
                    Ivo Legner<br>
                    <a href="mailto:legner@boskovice.cz">legner@boskovice.cz</a><br>
                    <span class="zoomable">739 515 210</span>
                <//p>
            </div>
            <div class="col-md-3 col-xs-6">
                <h2><small>Odkazy</small></h2>
                <ul class="list-unstyled">
                    <li><a href="http://www.kzmb.cz/">Kulturní zařízení města Boskovice</a></li>
                    <li><a href="http://www.kinoboskovice.cz/">Kino Boskovice</a></li>
                    <li><a href="http://www.knihovnaboskovice.cz/">Knihovna Boskovice</a></li>
                    <li><a href="http://www.boskovice.cz/">Město Boskovice</a></li>
                    <li><a href="http://www.google.cz/?q=Boskovice">Všechno Boskovice</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-6">
                <h2><small>Tiráž</small></h2>
                <p>Naposledy aktualizováno v srpnu.</p>
            </div>
        </div>
    </div>
    <script src="/code/ga.js"></script>
</body>
</html>
