<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Kulturní středisko Boskovice</title>
    {% include stylesheets.html %}
    <link href="/style/blog.css" rel="stylesheet">
</head>
<body>
    {% include navigace.html %}
    <div class="container">
        <div class="row">
            <div class="main-content col-md-8 col-sm-12">
                <div class="page-header">
                    <h2>{{ page.title }}</h2>
                </div>
                {{ content }}
                <hr>
                <div class="post-info">
                    <p>
                        publikováno {{ page.date | date: "%-d. %m. %Y" }},
                        <a href="{{ page.url }}">trvalý odkaz</a>
                    </p>
                </div>
            </div>
            <div class="sidebar col-md-4 col-sm-12 hidden-sm">
                <div class="page-header">
                    <h2>Další články z blogu</h2>
                </div>
                <ul class="featured-posts">
                {% for post in site.posts %}
                    {% if page.url != post.url %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <hr>
                {% include twitter-timeline.html %}
                </ul>
            </div>
        </div>
    </div>
    {% include paticka.html %}
    {% include javascript.html %}
</body>
</html>
