<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }} | Kulturní středisko Boskovice</title>
    {% include stylesheets.html %}
</head>
<body>
    {% include navigace.html %}
    <a href="http://www.husi-slavnosti.cz/" class="husy-promo visible-md visible-lg">
        <div>
            <h2>XII. Husí slavnosti</h2>
            <p>3.–4. října 2015</p>
        </div>
    </a>
    <div class="container">
        <div class="row">
            <div class="main-content col-md-8 col-sm-12">
                {{ content }}
            </div>
            <div class="sidebar col-md-4 col-sm-12">
                <div class="page-header">
                    <h2>Výběr z blogu</h2>
                </div>
                <ul class="featured-posts">
                {% for post in site.posts %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
                </ul>
                <hr>
                {% include twitter-timeline.html %}
            </div>
        </div>
    </div>
    {% include paticka.html %}
    {% include javascript.html %}
</body>
</html>
